// Place all the styles related to the keys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
//import of font-family
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/34544d");


@font-face {font-family: 'OfficinaSanSCITCTTBold';src: url('webfonts/34544D_0_0.eot');src: url('webfonts/34544D_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34544D_0_0.woff2') format('woff2'),url('webfonts/34544D_0_0.woff') format('woff'),url('webfonts/34544D_0_0.ttf') format('truetype');}


@font-face {font-family: 'OfficinaSansOSITCTTBold';src: url('webfonts/34544D_1_0.eot');src: url('webfonts/34544D_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34544D_1_0.woff2') format('woff2'),url('webfonts/34544D_1_0.woff') format('woff'),url('webfonts/34544D_1_0.ttf') format('truetype');}


@font-face {font-family: 'OfficinaSansITCTTBold';src: url('webfonts/34544D_2_0.eot');src: url('webfonts/34544D_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34544D_2_0.woff2') format('woff2'),url('webfonts/34544D_2_0.woff') format('woff'),url('webfonts/34544D_2_0.ttf') format('truetype');}


@font-face {font-family: 'BankGothicBT-Light';src: url('webfonts/34544D_3_0.eot');src: url('webfonts/34544D_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34544D_3_0.woff2') format('woff2'),url('webfonts/34544D_3_0.woff') format('woff'),url('webfonts/34544D_3_0.ttf') format('truetype');}


@font-face {font-family: 'BankGothicBT-Medium';src: url('webfonts/34544D_4_0.eot');src: url('webfonts/34544D_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34544D_4_0.woff2') format('woff2'),url('webfonts/34544D_4_0.woff') format('woff'),url('webfonts/34544D_4_0.ttf') format('truetype');}


//Global variables:
//grid
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
	'': 0,
	'-sm': $grid__bp-sm,
	'-md': $grid__bp-md,
	'-lg': $grid__bp-lg,
	'-xl': $grid__bp-xl
);

//fonts
$title-font-stack: OfficinaSanSCITCTTBold, sans-serif;
$main-font-stack: BankGothicBT-Light, sans-serif;
$bold-main-font-stack: BankGothicBT-Medium, sans-serif;

//colors
$primary-color: #000;
$secondary-color: #fff;
$teritary-color: rgb(129,130,133);
$highlight-color-1: rgb(237,28,36);
$highlight-color-2: rgb(255,236,0);
$btn-primary-color: rgb(130,193,56);



//mixins
@mixin create-mq($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint) {
    &__col#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      &__col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
      }
      &__col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}

//reset styles
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: $main-font-stack;
	background-color: $primary-color;
	color: $secondary-color;
}
//page setup
.container{
	max-width: $grid__bp-md *1px;
	margin: 0 auto;
	padding: 3em;
	&--fluid{
		max-width: 100%;

	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
    padding-top: 2em;
	}
	@each $modifier , $breakpoint in $map-grid-props {
	@include create-col-classes($modifier, $grid__cols, $breakpoint);
	}
}

@at-root{
	[class*='container__col-']{
		&.higher{
			min-height: 60px;
		}
		min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
	}
}

.title{
	font-family: $title-font-stack;
	font-size: 2em;
	padding: .5em;
}
h2{
  color: $highlight-color-1;
  font-family: 'BankGothicBT-Medium';
  font-size: 2em;
  text-shadow: 0 1px 0 #fff,
               0 2px 0 #f9f9f9,
               0 3px 0 #eee,
               0 4px 0 #e9e9e9,
               0 5px 0 #ddd,
               0 6px 1px rgba(255,255,255,.1),
               0 0 5px rgba(255,255,255,.1),
               0 1px 3px rgba(255,255,255,.3),
               0 3px 5px rgba(255,255,255,.2),
               0 5px 10px rgba(255,255,255,.25),
               0 10px 10px rgba(255,255,255,.2),
               0 20px 20px rgba(255,255,255,.15);
}

p{
  font-size: 1.2em;
  line-height: 1.8em;
}
.flash{

  color: $highlight-color-1;
  font-family: $title-font-stack;
  font-size: 1.2em;
  background-color: $secondary-color;
  border: 1px solid $highlight-color-1;
  border-radius: .5em;
  padding: .4em;
  margin-bottom: 2em;

}

img{
  width: 10em;
  height: auto;
  margin-left: 1em;
  margin-right: 1em;
  object-fit: contain;
}
picture{
  margin:0;
  padding:0;
  background-color: $secondary-color;
}
img[alt="Stirfirestudiologo"]{
  position: relative;
  right: 18%;
  width: 5em;
  height: 5em;

}

.outline{
  border: 1px solid $secondary-color;
  padding-bottom: 2em;
}

.footer{
  margin: 100px;
  padding: 50px;
  font-size: .75em;
  text-align: center;
}
//form styles
label, input[name="id"]{
	margin-right: 1rem;
	font-size: 1.25em;
}
input{
	height: 2rem;
}
input[type="radio"]{
	font-size: 1em;
  width: 3em;
  display: inline-block;
  margin-left: 1.5em;
  margin-right: .5em;

}


input[type="submit"]{
	width: 7rem;
	border: 1px solid $btn-primary-color;
	border-radius: .5rem;
	background-color: $btn-primary-color;
  font-family: $bold-main-font-stack;
  font-size: 1.2em;
  margin-left: 2em;


	&:hover{
		border-color: $highlight-color-2;
		background-color: $highlight-color-2;

	}
}
