<!DOCTYPE html>
<html>
  <head>
    <title>KeyGen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

		<div class="container__row">
			<div class="container__col-4">
			<img src="/assets/images/FreedomFallLogo.png" title="Freedom Fall Logo" />
			</div>
			<div class="container__col-4">
				<img src="/assets/images/SymphonyLogo.png" />
			</div>
			<div class="container__col-4">
				<img src="/assets/images/SymphonyLogo.png" title="Symphony Logo" />
			</div>
		</div>
  </body>
</html>
